html body {
    height: 100%;
    width: 100%;
    margin: 0;
}


/* Navigation Bar */
#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	z-index:99;
	border-bottom:1px solid rgba(235, 235, 235, 0.25);
	background-color:#FFF;
	-webkit-transition:0.2s all;
	transition:0.2s all;

}
.change {
    float: left;
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
}

.change_user {
    width: 90px;
    font-size: 14px;
}
#header.transparent-nav {
	position:absolute;
    background-color: transparent;
    height: 110px;
}

#header.transparent-nav .main_menu li a {
	color: #000000;
}

.main_menu span {
	color: #000000;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand .logo {
	margin-top: 10px;
	float: left;
}

.navbar-brand .logo > img {
	max-height: 100px;
}

#nav ul{
    list-style: none;
}
.main_menu>li{
    float: left;
}
#nav ul a{
    display: block;
    text-decoration: none;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000000;
    
}
.signin {
    margin-top: 35px;
}

.signup {
    margin-top: 35px;
}

.main_menu li a {
    font-size: 20px;
    position: relative;
}

.dropdown {
    margin-top: 35px;
}

.dropdown_content{
    padding: 0;
    display: none;
    position: relative;
}

.dropdown_content li {
    width: 100px;
}

.dropdown_content li a {
    background-color: #FFFFFF;
}

.main_menu .dropdown:hover .dropdown_content{
    display: block;
}

.navigationbar {
    height: 110px;
    width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}

#nav {
    float: right;
}



.search_no {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 450px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 40px;
}

.search_button_no {
    margin-top: 40px;
    border-radius: 50px;
    height: 40px;
    width: 100%;
}


.search_se {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 40px;
}

.search_button_se {
    margin-top: 40px;
    border-radius: 50px;
    height: 40px;
    width: 100%;
}

.user_img {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 200px;
    width: 80px;
    height: 80px;;
}

/* Banner Style */
.clearfix {
    overflow: hidden;
    clear: both; 
    margin: 0; 
    padding: 0;
}

.imgbox {
    height: 300px;
    margin-top: 130px;
    width: 1170px; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
}

.each_fade {
    height: 300px;
}
.banner_img {
    height: 300px;
    width: 1055px;
    margin-left: 23px;
}
image_container {
    float: left; 
    list-style: none; 
    width: 100%; 
    height: 300px;
    line-height: 300px; 
    color: #FFFFFF; 
    font-size: 40px;
    
    background-size: 1170px 400px;
} 

/* Recommand System */
.word {
    margin-top: 40px;
    margin-left: 40px;
    border-bottom: #959596 solid 1px;
    width: 1050px;;
}

.recommand {
    margin-top: 25px;
    width: 100%;
}

.recommand ul li {
    list-style: none;
    display: inline;
}


.recommand ul li:hover .accomondation {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 30%;
    height: 500px;
    border: solid 1px;
    padding: 5px;
}
.accomondation {
    transition:all 0.5s;
    -moz-transition:all 0.5s; 
    -webkit-transition:all 0.5s; 
    -o-transition:all 0.5s; 
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 30%;
    height: 500px;
    border: solid 1px;
    padding: 30px;
}

.accomondation_img {
    width: 100%;
    height: 70%;
    position: relative;
}

.acc_brief {
    margin-top: 5px;
    color: rgb(115, 79, 33);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.acc_brief span {
    margin-right: 20px;
}
.acc_name {
    margin-top: 5px;
    color: #959596;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.acc_name a {
    color: #959596;
    text-decoration: none;
}

.acc_name a:hover {
    color: #959596;
    text-decoration: none;
}

.acc_price {
    color: #ff4e00;
    font-size: 16px;
    margin-top: 5px;
}


.acc_rank {
    margin-top: 5px;
}

.acc_rank span {
    margin-right: 5px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #000000;
    height: 100%;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    height: 400px;
}

.footer_content {
    margin-top: 20px;
    height: 85%;
    border-bottom: solid 1px;
    border-color: #616263;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.footer_content ul li {
    list-style: none;
    display: inline;
}


.footer_single {
    
    float: left;
    height: 300px;
    width: 33%;
    padding: 20px;
}

.footer_title {
    padding: 10px;
    border-bottom: solid 1px;
    border-color: #616263;
}

.footer_text {
    color: #616263;
    margin-top: 20px;
}

.footer_text h4 {
    color: #ff4e00;
}

.footer_text a {
    text-decoration: none;
    color: #616263;
}

.footer_text a:hover {
    text-decoration: none;
}

.copywrite {
    color: #616263;
    margin-top: 20px;
    text-align: center;
}

/* Login Page */
.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('../img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}
  
.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
}
  
.wrap-login100 {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 0px 50px 0px;
    background: transparent;
}

/*  Login Form */

.login100-form {
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px 0px 33px 0px;
}
  
.login100-form-logo {
    font-size: 60px; 
    color: #333333;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
  
.login100-form-title {
    font-family: Ubuntu-Bold;
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 41px;
    display: block;
}

/* Login form input */
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 29px 0;
}

.validate-input {
    position: relative;
}

.input100 {
    font-family: Ubuntu-Regular;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    outline: none;
	border: none;
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 10px 0 80px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
  
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #d41872;
    background: -webkit-linear-gradient(to right, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(to right, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(to right, #a445b2, #d41872, #fa4299);
    background: linear-gradient(to right, #a445b2, #d41872, #fa4299);
}
  
.focus-input100::after {
    font-family: Linearicons-Free;
    font-size: 18px;
    color: #999999;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 35px;
   
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.input100:focus {
    padding-left: 60px;
}
  
.input100:focus + .focus-input100::after {
    left: 23px;
    color: #d41872;
}
  
.input100:focus + .focus-input100::before {
    width: 100%;
}
  
.has-val.input100 + .focus-input100::after {
    left: 23px;
    color: #d41872;
}
  
.has-val.input100 + .focus-input100::before {
    width: 100%;
}
  
.has-val.input100 {
    padding-left: 60px;
}

/* Login Form Button */
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}


  
.login100-form-btn {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
  
    background: #d41872;
    background: -webkit-linear-gradient(to right, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(to right, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(to right, #a445b2, #d41872, #fa4299);
    background: linear-gradient(to right, #a445b2, #d41872, #fa4299);
    position: relative;
    z-index: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #555555;
    top: 0;
    left: 0;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.login100-form-btn:hover {
    background-color: transparent;
}
  
.login100-form-btn:hover:before {
    opacity: 1;
}

/* Accomondation Detials */

.word_acc_detail {
    margin-top: 130px;
    text-align: center;
}

.acc_img {
    height: 400px;
    width: 80%;
    margin-top: 40px;
    margin-left: 20px;
}
.comment_title {
    margin-top: 45px;
    margin-left: 20px;
}

.comments {
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 40px;
}

.submit {
    background: #ff4e00;
    color: #FFFFFF;
    border-radius: 20px;
}

.acc_description {
    margin-top: 40px;
}

/* Detail banner */
.each_fade_detail {
    height: 308px;
}
.banner_img_detail {
    height: 308px;
    width: 500px;
    margin-top: 40px;
    margin-left: 23px;
}
/* table */
table {
    border-collapse: collapse;
    border-spacing: 0;
	-webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.zebra {
    border: none;
}

.zebra td {
    border-left: none;
    border-top: none;
    padding: 10px;
    text-align: left;    
}

.zebra th, .zebra th:hover {
    border-left: none;
	border-bottom: none;
    padding: 20px;  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.zebra tbody tr:nth-child(even) {
    background: #aaaaaa !important;
	color:#000000;
}

.zebra tr:hover *{
    background: #ffffff;
	color:#000;
}

.zebra tr {
	background:#dbdbdb;
	color:#000000;
}

/* map */
.map {
    height: 250px;
    width: 100%;
    background-color: #a445b2;
    margin-top: 30px;
}

.add_to_wl_button {
    margin-top: 20px;
    text-align: center;
}

/* similar */


.acc_container {
    width: 100%;
}
/* Search Result */

.word_search_result {
    margin-top: 130px;
    text-align: center;
}

.pages {
    
    
    width: 100%;
    text-align: center;
}

.pages button{
    margin-left: 15px;
    margin-right: 15px;
}

.filter {
    margin-left: 40px;
}

.filter_button {
    margin-left: 40px;
}

/* Personal Profile */

.word_personal_profile {
    margin-top: 130px;
    text-align: center;
}

.swap_button {
    margin-left: 20px;
}

.user_profile_img {
    margin-top: 40px;
    margin-left: 125px;
    height: 180px;
    width: 180px;
}

.upload {
    margin-top: 30px;
    margin-left: 120px;
}
.user_profile {
    margin-top: 30px;
}
.profile_group {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}
.profile_group label{
    width: 100px;
}

.profile_group input{
    width: 410px;
    border-radius: 5px;
}

.user_gender_input {
    background-color: #dbdbdb;
}

.user_email_input {
    background-color: #dbdbdb;
}
.profile_submit {
    margin-top: 30px;
    margin-left: 200px;
}

.traveller_history {
    margin-top: 40px;
}

#comment_area {
    margin-top: 40px;
}

.word_comment {
    text-align: center;
}

.comment_textarea {
    margin-left: 150px;
    margin-top: 10px;
}

/* review star */
.ct-star {
    display: inline-block;
    margin: 0 1px;
    width: 19px;
    height: 19px;
    background: url(../img/stars.png) no-repeat;
    vertical-align: -2px;
    cursor: pointer;
}
.ic-star-off {
    background-position: -39px 0;
}

.review {
    margin-left: 150px;
}

.comment_submit {
    text-align: center;
}

.submit_button {
    border-radius: 10px;
}

.provider_history {
    margin-top: 40px;
}

/* Watchibng List */
.word_watching_list {
    margin-top: 150px;
    text-align: center;
}

.watching_list {
    margin-top: 60px;
    width: 100%;
}

.remove_button {
    border-radius: 20px;
    background-color: #dbdbdb;
    border-color: #000000;
}

.button_part{
    margin-top: 60px;
    text-align: center;
    padding-bottom: 40px;
}


.add_button{
    margin-right: 50px;
    margin-left: 50px;
    background-color: #dbdbdb;
    color: #000000;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.add_button:hover {
    text-decoration: none;
    color: #000000;
}

/* Pending List */
.word_pending_list {
    margin-top: 150px;
    text-align: center;
}

.accomondation_pending {
    margin-left: 280px;
    margin-top: 40px;
    transition:all 0.5s;
    -moz-transition:all 0.5s; 
    -webkit-transition:all 0.5s; 
    -o-transition:all 0.5s; 
    
    margin-bottom: 30px;
    width: 50%;
    height: 600px;
    border: solid 1px;
    padding: 30px;
}

.accomondation_pending:hover {
    margin-left: 280px;
    margin-top: 40px;
    
    margin-bottom: 30px;
    width: 50%;
    height: 600px;
    border: solid 1px;
    padding: 5px;
}

.accomondation_pending_img {
    width: 100%;
    height: 70%;
    position: relative;
}

.acc_pending_time {
    margin-top: 10px;
}